@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
body {
  font-family: "Rubik", sans-serif;
  display: grid;
}
label {
  font-weight: bold;
  font-size: 15px;
  margin: 0px;
}
.main {
  width: 800px;
  margin-top: 10px;
  margin-left: 300px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  font-family: "Rubik", sans-serif;
  font-weight: lighter;
}

thead,
td {
  font-size: 13px;
  text-align: center;
  padding: 3px;
}
tr:nth-child(odd) {
  background-color: rgb(161, 159, 159);
}
